#good-job {
  display: none;
}

#make-changes {
  display: none;
}

#doomed {
  display: none;
}

#stress-signs {
  display: none;
}

#coping-mechanisms {
  display: none;
}

#stress-symptoms {
  display: none;
}
